
	<head>
		<title>Asociación UNIA</title>
		<meta charset="UTF-8">
		<meta name="title" content="Asociación UNIA">
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">
		<link rel="icon" type="image/png" href="resources/images/unialogo.png" />

		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css"/>
	</head>

	<body>
		
		<div class="d-flex flex-row justify-content-center h-75 w-100">
				<img src="resources/images/daemon.png" alt="Logo Daemon UNIA" class="img-fluid">
		</div>
		
	<!-- Footer -->
	<footer class="footer">

			<!-- UNIA Logo -->
			<div style="padding-left: 20px;">
				<a href="#"><img class="footer-unialogo" src="resources/images/unialogo.png"> </a>
			</div>

			<!-- Media -->
			<div style="text-indent: 65pt;">
				<ul class="social-simple" >
					<a href="https://www.facebook.com/uniaual/"><img src="resources/icon/facebook2.png" alt="Logo facebook" class="icon"></a>
					<a href="https://twitter.com/UNIA_UAL"><img src="resources/icon/twitter_icon.png" alt="Logo twitter" class="icon"></a>				
					<a href="https://www.youtube.com/channel/UCu5uNhsoFZiACQddTYjTdAQ"><img src="resources/icon/youtube.png" alt="Logo youtube" class="icon"></a>
					<a href="https://www.instagram.com/unia_ual"><img src="resources/icon/instagramLogo2.png" alt="Logo instagram" class="icon"></a>
				</ul>
				<div>
					<a style="color:white;">© 2021 Copyright Asociación UNIA </a>
				</div>
			</div>

			<!-- Copyright & Contact -->
			<div style="text-align: center;">				
					<a style="color:white; " href="mailto:contacto@asociacionunia.es?Subject=Web%20contact">contacto@asociacionunia.es</a>						
			</div>
						
			
		</footer>
	</body>