{% extends 'base.html.twig' %}

{% block body %}
		
		<div style="text-align:center">
			<img src="resources/images/daemon.png" alt="LogoDaemonUNIA" class="logo-resize" >
		</div>
		
	
{% endblock %}
