
	<head>
		<title>Asociación UNIA</title>
		<meta charset="UTF-8">
		<meta name="title" content="Asociación UNIA">
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">
		<link rel="icon" type="image/png" href="resources/images/unialogo.png" />

		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css"/>
	</head>

<<<<<<< HEAD:templates/home/index.html.twig
	<body>
		
		<div class="d-flex flex-row justify-content-center h-75 w-100">
				<img src="resources/images/daemon.png" alt="Logo Daemon UNIA" class="img-fluid">
=======
	<body>		
	<div class="flex ">
			<div class="cell">
					<img src="resources/images/daemon.png" alt="Logo Daemon UNIA" class="h-150 img-fluid">				
			</div>
			<div class="cell">
				<div style="padding-left: 25%;">
				<ul>
					<li><a href="https://twitter.com/UNIA_UAL" target="_blank"><img src="resources/icon/twitter_icon.png" class="icon"> Página de Twitter</a></li>
					<li><a href="https://www.instagram.com/unia_ual" target="_blank"><img src="resources/icon/instagramLogo2.png" class="icon">  Perfil de Instagram</a></li>
					<li><a href="https://www.facebook.com/uniaual/" target="_blank"><img src="resources/icon/facebook2.png" class="icon"> Página de Facebook</a></li>					
					<li><a href="https://www.youtube.com/channel/UCu5uNhsoFZiACQddTYjTdAQ" target="_blank"><img src="resources/icon/youtube.png" class="icon">   Canal de YouTube</a></li>						
					<li><a href="https://calendar.google.com/calendar/embed?src=asoc.unia%40gmail.com&ctz=Europe%2FMadrid" target="_blank"><img src="resources/icon/google-calendar.png" class="icon"> Calendario de Eventos</a></li>
					<li><a href="https://github.com/UNIA-ALMERIA " target="_blank"><img src="resources/icon/github_icon.png" class="icon"> Repositorios en Github</a></li>
				</ul>
				</div>
				<div class="div-center">
				<img src="resources/images/unialogo.png" alt="Logo UNIA" class="logo-resize">
				</div>
			</div>
>>>>>>> development:index.html
		</div>
	</div>		 

	<!-- Footer -->
	<footer class="footer">

			<!-- UNIA Logo -->
			<div style="padding-left: 45px;">
				<a style="color:white">© Asociación UNIA </a>
			</div>

			<!-- Media -->
<<<<<<< HEAD:templates/home/index.html.twig
			<div style="text-indent: 65pt;">
				<ul class="social-simple" >
					<a href="https://www.facebook.com/uniaual/"><img src="resources/icon/facebook2.png" alt="Logo facebook" class="icon"></a>
					<a href="https://twitter.com/UNIA_UAL"><img src="resources/icon/twitter_icon.png" alt="Logo twitter" class="icon"></a>				
					<a href="https://www.youtube.com/channel/UCu5uNhsoFZiACQddTYjTdAQ"><img src="resources/icon/youtube.png" alt="Logo youtube" class="icon"></a>
					<a href="https://www.instagram.com/unia_ual"><img src="resources/icon/instagramLogo2.png" alt="Logo instagram" class="icon"></a>
				</ul>
				<div>
					<a style="color:white;">© 2021 Copyright Asociación UNIA </a>
				</div>
=======
			<div style="text-indent: 65pt;">				
				
					<a style="color:white;">Universidad de Almería, Edificio CAE - Despacho (Por Confirmar), La Cañada de San Urbano, s/n, 04120 Almería</a>
				
>>>>>>> development:index.html
			</div>

			<!-- Copyright & Contact -->
			<div style="text-align: center; padding-right: 25px">	
				<a style="color:white;" href="mailto:contacto@asociacionunia.es?Subject=Web%20contact" >contacto@asociacionunia.es</a>								
			</div>
						
			
		</footer>
	</body>