
<!-- Footer -->
	<footer class="footer">

			<!-- UNIA Logo 
			<div style="padding-left: 20px;">
				<a href="#"><img class="footer-unialogo" src="resources/images/unialogo.png"> </a>
			</div>
-->
			<div>
			</div>
			<!-- Media -->
			<div style="text-indent: 65pt; padding-left: 110px;">
				<ul class="social-simple" >
					<a href="https://www.facebook.com/uniaual/"><img src="resources/icon/facebook2.png" alt="Logo facebook" class="icon"></a>
					<a href="https://twitter.com/UNIA_UAL"><img src="resources/icon/twitter_icon.png" alt="Logo twitter" class="icon"></a>				
					<a href="https://www.youtube.com/channel/UCu5uNhsoFZiACQddTYjTdAQ"><img src="resources/icon/youtube.png" alt="Logo youtube" class="icon"></a>
					<a href="https://www.instagram.com/unia_ual"><img src="resources/icon/instagramLogo2.png" alt="Logo instagram" class="icon"></a>
				</ul>
				<div>
					<a style="color:white;">© 2022 Copyright Asociación UNIA </a>
				</div>
			</div>

			<!-- Copyright & Contact -->
			<div style="text-align: center;">				
					<a style="color:white; " href="mailto:contacto@asociacionunia.es?Subject=Web%20contact">contacto@asociacionunia.es</a>						
			</div>
						
			
		</footer>
