
{% block title %} <title>Asociación UNIA</title> {% endblock %}
	
<div class="header">
    <!-- UNIA Logo -->
    <div style="padding-left: 40px;">
        <a href="/"><img class="header-unialogo" src="resources/images/unialogo.png"> </a>
    </div>

  <div class="header-right">
    <a href="/login">Iniciar Sesion</a>
  </div>
</div>
