/* ---------------------------------------- */
/* UNIA WEB STYLE*/
/* ---------------------------------------- */

a.social-icon:link,a.social-icon:visited,a.social-icon:active {
    color: #212529;
}
a.social-icon:hover{
    color: #17a2b8;
}

.footer {
padding: 1rem;
background: #343A40;

display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.footer .footer-unialogo {
    color: #8a9597;
    height: auto;
    width: auto;
    max-height: 75px;
    max-width: 150px; /* you can use % */				
}

.footer .social-simple{
word-spacing: 250t;        /* para separacion entre palabras */  
}
.footer .icon{
height: auto;
width: auto;
max-height: 40px;
max-width: 40px; /* you can use % */	
}

.flex{
    display: flex;
    justify-content: center;
  align-items: center;
}	

.cell {
    width: 50%;
    height: auto;
    border-radius: 2px;
    
}

.logo-resize{
    max-height: 55%;
    max-width: 55%; 
}

.row-decoration {
padding: 6px;
border-radius: 1px;
margin-bottom: 6px;
}

.div-center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.icon{
    height:50px;
}