<!DOCTYPE html>
<html>
    <head>
        {% include "include/header.html.twig" %}

        <meta charset="UTF-8">
        {% block title %}<title>Welcome!</title>{% endblock %}
        <meta name="title" content="Asociación UNIA">
        
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" type="text/css" href="resources/css/style.css">
		    <link rel="icon" type="image/png" href="resources/images/unialogo.png" />
    		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css"/>

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% include "include/footer.html.twig" %}
    </body>

</html>
